<!--  common menu -->
<div id='headerbox'>
  <!-- see https://cdn.materialdesignicons.com/1.1.34/ for possible icons-->
  <!-- home --><a
    href='/'
    title='Home'>
    <i class='mdi mdi-home headerboxicon'></i>
  </a>
  <!-- github --><a
    href='https://github.com/BITPlan/diagrams'
    title='Diagrams on GitHub'>
    <i class='mdi mdi-github-box headerboxicon'></i>
  </a>
  <!-- wiki -->
  <a
    href='http://wiki.bitplan.com/index.php/GraphViz_MediaWiki_extension'
    title='Diagrams Wiki Page'>
    <i class='mdi mdi-file-document headerboxicon'></i>
  </a>
  <!-- wiki -->
  <a
    href='https://gitter.im/diagrams-service/community'
    title='Diagrams Chat'>
    <i class='mdi mdi-comment-outline headerboxicon'></i>
  </a>
</div>
